<form method="post" action="{{ path('auteur_delete', {'id': auteur.id}) }}" onsubmit="return confirm('êtes vous certain de supprimer cet auteur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auteur.id) }}">
    <button style="margin: 20px 0" type="submit" class="btn btn-danger">Supprimer</button>
</form>
