<form method="post" action="{{ path('genre_delete', {'id': genre.id}) }}" onsubmit="return confirm('êtes vous certain de supprimer ce genre ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
    <button type="submit" class="btn btn-danger">Supprimer</button>
</form>
